<div class="container">

  <%= form_for @league do |f| %>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" name="name" id="league-name" class="form-control">
    </div>

    <div class="form-group">
      <label for="emblem">Emblem:</label>
      <input type="url" name="emblem" id="league-emblem" class="form-control">
    </div>

    <div class="form-group">
      <label for="nation">Nation:</label>
      <input type="text" name="nation" id="league-nation" class="form-control">
    </div>

    <div class="form-group">
      <label for="size">No. of teams:</label>
      <input type="number" name="size" id="league-size" class="form-control">
    </div>

    <button id="submit-league-form" class="btn btn-primary">Create league</button>

  <% end %>

  <div id="loading">
    <h4>Generating season, please wait...</h4>
    <img src="http://upload.wikimedia.org/wikipedia/commons/4/4f/Soccer_ball_animated.svg" style="height: 80px; width: 80px;" id="spinning-ball">
  </div>

</div>


