<div id="home-container">
  <div class="container">
    <div class="jumbotron home-header text-center">
      <h1>Online Football Manager</h1>
      <p>Waste time at work and alienate loved ones as you lead your imaginary team to real glory.</p>
      <p><%= link_to 'Sign up', new_user_path, :class => "btn btn-primary btn-lg" %></p>
    </div>


    <p class="text-right copyright">&copy; 2015 Tom Valorsa</p>
  </div>
</div>
