<div id="home-container">
  <div class="container how-to-play">
    <h2><u>How to play</u></h2>
    <br>
    <p>When you sign up you’ll be asked to pick a league. Once you’ve chosen a league you can look at teams left in the league that don’t already have a manager. Now you can choose a team to manage.</p>
  </div>
</div>
