<div id="home-container">
  <div class="container how-to-play">
    <h2><u>How to play</u></h2>
    <br>
    <p>When you sign up you’ll be asked to pick a league. Once you’ve chosen a league you can look at teams left in the league that don’t already have a manager. Now you can choose a team to manage.</p>

    <p>From here on out it's simple: make sure you come back every day to set your team up tactically for their next match.</p>

    <p>One match will be played every day so that everybody plays at the same time. This keeps things fair and eliminates the possibility of teams getting ahead of each other. When you log in you can see the results of your previous games on your home dashboard. You can also check how this has affected the league standings in the league dashboard.</p>

    <p>Winning multiple games in a row will increase your team's form rating, giving you a better chance of winning your next game. But be careful, losing multiple games in a row will decrease your team's form rating and have an adverse effect on your future matches.</p>

    <p>At the end of the season the winner is the team with the most points. Invite your friends to play in your league and play for bragging rights or play against strangers to hone your manegerial skills. Good luck!</p>

    <br>
    <div class="text-center" style="width: 80%; margin: auto;">
      <h4><i>"Some people believe football is a matter of life and death, I am very disappointed with that attitude. I can assure you it is much, much more important than that".</i> - Bill Shankly</h4>
    </div>
    <br>
    <br>
    <div class="text-center">
      <%= link_to 'Sign up', new_user_path, :class => "btn btn-primary btn-lg", :style => 'margin-bottom: 15px;' %>
    </div>
  </div>
</div>
