<h1>User: <%= @current_user.username %></h1>
<%= link_to 'Log out', login_path, :method => 'delete' %>

<% if @current_user.is_admin? %>
  <p>you're the admin user, congratulations!</p>
<% end %>

<hr>

<div id="main"></div>

<!-- Templates for generating the setup process for new users -->

<script type="x-underscore-template" id="pickLeague-template">
  <h1>Leagues:</h1>
  <div id="leagues"></div>
  <button id="add-league">Add new league</button>
</script>

<script type="x-underscore-template" id="leagueListView-template">

    <p>{{ name }}</p>
    <p>{{ nation }}</p>
    <p>Teams: {{ size }}</p>

</script>

<script type="x-underscore-template" id="addLeagueView-template">
  <form>
    <label for="name">Name:</label>
    <input type="text" name="name" id="league-name">

    <label for="emblem">Emblem:</label>
    <input type="url" name="emblem" id="league-emblem">

    <label for="nation">Nation:</label>
    <input type="text" name="nation" id="league-nation">

    <label for="size">No. of teams:</label>
    <input type="number" name="size" id="league-size">

    <button id="submit-league-form">Create league</button>
  </form>
</script>

<script type="x-underscore-template" id="pickTeam-template">
  <h1>Teams:</h1>
  <div id="teams"></div>
</script>

<script type="x-underscore-template" id="generatingLeague-template">
  <div>(put the loading animation here if there is time)</div>
</script>


<!-- League show templates -->
<script type="x-underscore-template" id="showLeague-template">
  <div id="league-info">
    <h1>{{ name }}</h1>
    <h2>{{ nation }}</h2>
  </div>
  <div id="teams"></div>

  <button id="back-to-league-selection"></button>
</script>




<!-- Dashboard template -->

<script type="x-underscore-template" id="dashboardView-template">
  <div id="team-info">
    <img src="{{ team.emblem }}" alt="" id="team-emblem">
    <h2>{{ team.name }}</h2>
    <h4>Bank balance: {{ team.bank_balance }}</h4>
    <h4>Total value: {{ team.total_value }}</h4>
  </div>

  <div id="next-game-info">
    <h3>(put the opponent's name here)</h3>
    <h4>(opponent's league position)</h4>
    <h4>(match date/countdown)</h4>
    <img src="(opponent's team crest)" alt="">
  </div>

  <div id="finances">
    <div id="finance-chart">
      <!-- add in the d3 for finances here -->
    </div>
  </div>

  <div id="form">
    <!-- form stuff to go here -->
  </div>

  <div id="team-rating">
    <div id="rating-disc"></div>
    <div id="hisorical-rating-graph"></div>
  </div>

  <div id="team-stats">
    <h3>(top scorer with icon here)</h3>
    <h3>(most assists with icon here)</h3>
    <h3>(most yellow cards with icon here)</h3>
    <h3>(most red cards with icon here)</h3>
  </div>
</script>
