// Place all the styles related to the Leagues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

.league, .team {
  width: 192px;
  display: inline-block;
}

.emblem {
  width: 100px;
  height: 100px;
}

body {
  padding-top: 80px;
  font-family: 'Lato', sans-serif;
}

.home-header {
  background-color: rgba(238, 238, 238, 0.5);
}

.copyright {
  color: #ffffff;
}

#home-container {
  background-image: image-url('optimized-football-manager-bg.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin-top: -80px;
  padding-top: 80px;
}

#loading {
  display: none;
}

.pick-league-panel {
  width: 24%;
  height: 150px;
  display: inline-block;
}

#team-recent-results {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  position: relative;
  top: 123px;
  text-align: center;
}

#team-recent-results h3 {
  margin: 0;
}
